/* FONTS */
@font-face {
    font-family: 'intro_rust_gbase_2_line';
    src: url('fonts/rust_gbase_2_line/introrustg-base2line-webfont.eot');
    src: url('fonts/rust_gbase_2_line/introrustg-base2line-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rust_gbase_2_line/introrustg-base2line-webfont.woff2') format('woff2'),
         url('fonts/rust_gbase_2_line/introrustg-base2line-webfont.woff') format('woff'),
         url('fonts/rust_gbase_2_line/introrustg-base2line-webfont.ttf') format('truetype'),
         url('fonts/rust_gbase_2_line/introrustg-base2line-webfont.svg#intro_rust_gbase_2_line') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'intro_head_rbase';
    src: url('fonts/headr_base_macroman/introheadr-base-webfont.eot');
    src: url('fonts/headr_base_macroman/introheadr-base-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/headr_base_macroman/introheadr-base-webfont.woff2') format('woff2'),
         url('fonts/headr_base_macroman/introheadr-base-webfont.woff') format('woff'),
         url('fonts/headr_base_macroman/introheadr-base-webfont.ttf') format('truetype'),
         url('fonts/headr_base_macroman/introheadr-base-webfont.svg#intro_head_rbase') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* GENERAL */
body {
	background-image: url("footer_lodyas.png");
	color: #B6D7EF;
	font-family: intro_rust_gbase_2_line;
}

a {
	color: #5B85A3;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #9ECDEF;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


/* TITLE */
.title-container {
	width: 100%;
	height: 20%;
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 1;

	background-color: black;
}

.title {
	width: 100%;
	text-align: center;

	font-size: 12vh;
	color: #E28746;
	margin-bottom: -3%;
}

.spacer {
	height: 20%;
}


/* NAVBAR */
.subtitle {
	text-align: center;
	font-size: 2.5vh;
}


/* CONTENT FRAME */
.content-frame {
	width: 100%;
	height: 450px;
	border: none;
}

/* FEED */
.feed-item {
	margin-bottom: 25px;
}

.poster {
	max-width: 100%;
	max-height: 750px;
}


/* BAND BIO */
.band-bio {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;

	font-family: intro_head_rbase;
	font-size: 18px;
}

.member-list {
	text-align: center;
	font-size: 16px;
	height: 400px;
}


/* COLUMNS */
div.column {
	padding-left: 1%;
	padding-right: 1%;
	position: absolute;
}

div.left-column {
	left: 1%;
	width: 13%;
}

div.middle-column {
	left: 17%;
	width: 55%;
}

div.right-column {
	left: 75%;
	width: 22%;
}


/* CAROUSEL */
.carousel {
	max-height: 400px;
}

.carousel-inner {
	max-height: inherit;
}

.carousel-inner > div {
	max-height: inherit;
}

.carousel-image {
	margin-left: auto;
	margin-right: auto;

	max-height: inherit;
	width: auto;
	height: 400px;
}


/* SHOW LIST */
.shows {
	margin-top: 20px;

	background-color: #333;

	outline-width: 3px;
	outline-color: #E28746;
	outline-style: solid;
}


/* INSTAGRAM WIDGET */
.lightwidget-widget {
	width: 100%; 
	border: 0;
	overflow: visible;
}